body{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#board{
    margin: auto;
    margin-top: 50px;
    width: 89vmin;
    height: 89vmin;
    outline:2px solid rgb(82,56,21);
    -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

#invisible{
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 90%;
}

#turn{
    top: 0;
    /* display: none; */
    background: rgba(0,0,0,0.4);
    z-index: 110;
    width: 100%;
    height: 100%;
    left: 0;
}
#turn h1{
    color: white;
    text-align: center;
    font-size: 90px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 30%;
}

.dark{
    background: rgba(163,119,84);
}

.light{
    background: rgb(243, 235, 215);
}

.square{
    width: 12.5%;
    height:100%;
    box-shadow: 0 0 0 1px rgb(82,56,21) inset;
}

.hiddenSquare{
    width: 12.5%;
    height:100%;
}

.hovered img{
    filter: contrast(0.6) brightness(1.4)
}

#hiddenBoard {
    margin: auto;
    margin-top: 50px;
    width: 90vmin;
    height: 90vmin;
}

.highlighted{
    box-shadow: 0 0 0 2px rgba(0,255,0,0.7) inset;
}

.piece{
    width: 100%;
    height: 100%;
    transform: scale(1.5) translate(0px, -10px);
}

.center {
    margin: auto;
    width: 50%;
}